<!DOCTYPE html>
<html>
<head>
    <% include /partials/head %>
    
</head>
<header><% include /partials/header %></header>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><img src="http://i.imgur.com/vP4aOPj.png" class="drinkLogo"> <%= cocktail.drinkName %> <img src="http://i.imgur.com/4yG9Wea.png" class="drinkLogo"></h1>
        <a href="/cocktails" class="btn btn-default"><span class="fa fa-glass"> Cocktails </span></a></h1>

    </div>
	</div>
	<div class="col-sm-8">
            <div class="well">

	<p>
    	<strong>id</strong>: <%= cocktail.id %><br>
        <strong>Name</strong>: <%= cocktail.drinkName %><br>
        <strong>Type</strong>: <%= cocktail.alcType %><br>
        <strong>Alcohol Level</strong>: <%= cocktail.alcLevel %><br>
        <strong>Ingredients</strong>: <%= cocktail.ingredients %><br>
    </p>

    <form action="/cocktails/:id" method="post">
				    	<div class="form-group">
				            <label>Comment</label>
				            <input type="textarea" class="form-control" name="body" placeholder="Add comment">
				        </div>
				        

				        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
				    </form>
				    </div>
				    </div>