<!DOCTYPE html>
<html>
<head>
    <% include /partials/head %>
    
</head>
<header><% include /partials/header %></header>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><img src="http://i.imgur.com/vP4aOPj.png" class="drinkLogo"> Cocktails! <img src="http://i.imgur.com/4yG9Wea.png" class="drinkLogo"></h1>
        <h1><a href="/beers" class="btn btn-default"><span class="fa fa-beer"> Beers/Wines</span></a>

    </div>


</div>

<div>
<hr>
<div class="row">
			 <div class="col-sm-4">
                
                <div class="well">
                    <h3>Create New Cocktail</h3>
                
                <form action="/cocktails" method="post">
                		<div class="form-group">
				            <label>Cocktail Name</label>
				            <input type="text" class="form-control" name="drinkName" placeholder="IE Whiskey Coke, Manhatten etc">
				        </div>
				        <div class="form-group">
				            <label>Type of Alcohol</label>
				            <input type="text" class="form-control" name="alcType" placeholder="IE Whiskey, Vodka, Gin etc">
				        </div>
				        <div class="form-group">
				            <label>Alcohol level</label>
				            <input type="integer" class="form-control" name="alcLevel" placeholder="Scale 1-10, 1 non-alcoholic - 10 Moonshine">
				        </div>
				        <div class="form-group">
				            <label>Ingredients</label>
				            <input type="textarea" class="form-control" name="ingredients" placeholder="Ingredients">
				        </div>

				        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
				    </form>
				</div>

            </div>

            <div class="col-sm-8">
            
                <div class="well">
                    <h1>Top Cocktails</h1>
                    <p>List Cocktails here</p>

                    <% for (var i = 0; i < cocktails.length; i++) { %>
               		<strong>Name</strong>: <a href='cocktails/<%= cocktails[i]._id %>'><%= cocktails[i].drinkName %></a>
               		<strong>Type</strong>: <%= cocktails[i].alcType %>
               		<strong>Alcohol Level</strong>: <%=  cocktails[i].alcLevel %>
               		<strong>Ingredients</strong>: <%= cocktails[i].ingredients %><br>

               	<% } %>

                </div>
                
            </div>
           
        </div>
</div>
    <footer>
        <% include /partials/footer %>
    </footer>
</body>
</html>   